.idea
.vs

Stella.ClassLibrary-2/bin
Stella.ClassLibrary-2/obj

Stella.ConfigurationOld/bin
Stella.ConfigurationOld/obj

Stella.LauncherOld/bin
Stella.LauncherOld/obj

Stella.WorkerOld/bin
Stella.WorkerOld/obj